<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Node/Express Test</title>

</head>

<body>
    <div class="container">
        <h1><%= title %></h1>
        <table border='1'>
            <tr>
                <td>#</td>
                <td>Team</td>
                <td>Wins</td>
                <td>Pyth. Expected Wins</td>
                <td>Win +/-</td>
            </tr>

            <% for (var i =0; i < items.length; i++) { %>
                <tr>
                    <td>
                        <%= i + 1 %>
                    </td>
                    <td>
                        <%= items[i].teamName %>
                    </td>
                    <td>
                        <%= items[i].teamWins %>
                    </td>
                    <td>
                        <%= items[i].pythExpWins %>
                    </td>
                    <td>
                        <%= items[i].pythDiff %>
                    </td>

                </tr>
                <% } %>


                    <form action="/add" method="post">
                        <input type="text" name="newItem">
                        <input type="submit">
                    </form>
    </div>
    <script src="jquery/dist/jquery.js"></script>

</body>

</html>
